<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cyan.TF Music Rules</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
		<p>
			Playing music in our server is a privilege; if you abuse it, you get it taken away. Below are the guidelines for playing music in our server. Abide by these rules and you get to keep your privilege.
		</p>
		<ol>
			<li>Music must be played using an external program such as <i>HLDJ</i> or <i>HLSS.</i> Simply holding your open mic to your speakers will get you muted.</li>
			<li>If there are other players wanting to play music, you must take turns.</li>
			<ul>
				<li>You get 1 minute after another player is done playing to play your song or you lose your turn.</li>
				<li>Playing out of your turn will get you muted.</li>
			</ul>
			<li>Only songs are to be played. Sounds/sound effects, voices, or anything NOT a song will get you muted.</li>
			<li>Songs cannot be more than 10 minutes. Exceeding this limit will get you muted.</li>
			<li>Insure your songs are properly converted and are at a comfortable volume.</li>
			<ul>
				<li>Songs that are too loud or that are crackly will get you muted and lose your turn.</li>
			</ul>
			<li>Playing the same song over and over again will get you muted and you will lose your turn.</li>
			<ul>
				<li>Playing the same song twice in the same map (or within 45 minutes) counts as repeated playing. Please allow 2 full maps after playing a song before playing it again.</li>
			</ul>
			<li>Songs that simply loop a single part over and over, back to back, may only be played for 3 minutes at least before it will be considered repetitive.</li>
			<li>Be weary of the server time (top right corner of scoreboard). If the map changes during your song then you lose your turn.</li>
			<li>Just because you muted another music player does not mean you can play during their turn.</li>
			<li>Players wanting to talk on mic are allowed to speak over the music you play so don't get mad at them.</li>
		</ol>
		<small style="opacity:0.3;">Players can and will be susceptible to punishments from infractions not listed in the above rules.</small>
		<p class="text-danger" style="margin-top:24px;"><span class="fa fa-warning"></span> Repeat offenders will be  <b>PERMANENTLY MUTED.</b></p>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>